## mako
<%namespace file='../../main.html' import="login_query, stanford_theme_enabled"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>


<%block name="navigation_top">
  <div class="branding-bar-container">
    <div class="branding-bar">
      ${_("HMS Global Education")}
    </div>
  </div>
</%block>

<%inherit file="../../navigation.html"/>

<%block name="navigation_global_links">
  <li class="nav-global-05">
    <a class="cta cta-discovery global-link" href="#">${_("About")}</a>
  </li>

  <li class="nav-global-05">
    <a class="cta cta-discovery global-link" href="#">${_("Blog")}</a>
  </li>
</%block>

<%block name="navigation_other_global_links"/>

<%block name="navigation_sign_in">
  <div class="global-navigation-container">
    <li class="nav-courseware-01 register-btn">
      % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <a class="cta cta-register" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register")}</a>
        % else:
          <a class="cta cta-register" href="/register${login_query()}">${_("Register")}</a>
        % endif
    </li>
    <li class="nav-courseware-01">
      % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <a class="cta cta-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
          % else:
          <a class="cta cta-login" href="/login${login_query()}">${_("Sign in")}</a>
          % endif
      % endif
    </li>
  </div>
</%block>